<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.min.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
   <style>
        #content{
            position: absolute;
            left:50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
    <title>School Notification Service - 오류</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1 class="title">Error</h1>
            <div id="content">
                <h2 style="text-align:center">{{ error }}</h2>
            </div>
        </div>
    </div>
</body>